<!DOCTYPE html>
<html lang="pt-br">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="content">
            <% if (users.length > 0) { %> <% users.forEach(user => { %>

                <h3 class="title"> 
                    <%= user.firstName %> <%= user.lastName %>: <span> <%= user.email %> </span>
                </h3>

                

                <% }) %> <% } else { %>

                <p> Nenhum usuário cadastrado. </p>

                <% } %>
        </div>
    </div>
</body>
</html>